fabric
docutils
django
-e svn+http://geopy.googlecode.com/svn/tags/release-0.93#egg=geopy
django-debug-toolbar
psycopg2
python-memcached
-e git+git://github.com/toastdriven/django-tastypie.git#egg=tastypie
python-dateutil
mimeparse
lxml
south